ul li {
    list-style-type: none;
    padding: 1rem;
}

ul {
    padding: 0px;
}

.card-header-style {
    display: flex;
    justify-content: space-between;
}

.input-style {
    margin-bottom: 0.2rem;
}


/* Global */
*{
    font-family: 'Poppins';
}
button.btn.btn-primary{
    background: #ff4a4a !important;
    border: 1px #444444 solid;
    text-transform: capitalize;
}
button.btn.btn-primary:hover {
    background: black !important;
}
/* Header */
img.logo {
    width: 100%;
    max-width: 170px;
}
a#navbarDropdown {
    color: #ffffff;
    font-size: 20px;
    text-transform: capitalize;
}
nav.navbar.navbar-expand-md.navbar-light.bg-white.shadow-sm{
    background-color: #ff4a4a !important;
}


.side-icon{
    width: 100%;
    max-width: 50px;
}

/* Side Navigation */
#side-nav > div.card-body > ul > li {
    padding-left: 0px;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
}
#side-nav > div.card-body > ul > li a:hover {
    color: #818182;
    text-decoration: none;
}

#side-nav > div.card-body > ul > li > a > span {
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
} 

#side-nav > div.card-body > ul > li:nth-child(1) {
    padding-top: 0px;
}
#side-nav > div.card-body > ul > li a {
    color: #295368;
    max-width: 135px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Card Global */
div.card-header {
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 18px;
}

.card-header-style{
 align-items: center;
}
.card-header{
    background-color: rgb(41 83 104);
    color: #fff;
}

/* Modal */
.modal-header{
    background: #29536859;
    color: #1b1e21;
}